<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Equipment.EquipmentMaintenance.mapper.EquipmentMaintenanceMapper">

<select id="getShipInfoByEquipmentId"  resultType="com.example.demo.model.ShipInfo">
select
    T1.F_ShipNo as fShipno
    ,T1.IMONo as imono
    ,T1.ShipNumber as shipnumber
    ,T1.ShipType as shiptype
    ,case when (T1.ShipNationality is not  null and T1.ShipNationality != '') 
               and (T4.CountryNameJP is not  null and T4.CountryNameJP != '' )
                   then concat(T1.ShipNationality,'：', T4.CountryNameJP)
          else ''
    end as shipnationality
    ,case when (T1.ShipSpecies is not  null and T1.ShipSpecies != '') 
               and (T3.ShipSpeciesNameJP is not  null and T3.ShipSpeciesNameJP != '' )
                   then concat(T1.ShipSpecies ,'：', T3.ShipSpeciesNameJP)
          else ''
    end as shipspecies
    ,T1.ShipNameJP as shipNameJP
    ,T1.Series as series
    ,T1.GrossTonnage as grossTonnage
    ,T1.ShipClass as shipClass
    ,case when (T1.ShipyardCode is not null and T1.ShipyardCode != '') 
               and (T2.ShipyardNameJP is not  null and T2.ShipyardNameJP != '' )
                   then concat(T1.ShipyardCode ,'：',T2.ShipyardNameJP) 
          else ''
    end as shipyard
    ,T1.BuildDate as buildDate  
    ,case when (T1.CustomerCode is not null and T1.CustomerCode != '') 
               and (T5.CustomerNameJP is not null and T5.CustomerNameJP != '' )
                   then concat(T1.CustomerCode ,'：',T5.CustomerNameJP) 
          else ''
    end  as customer
from SHP_SPM_SC_Ship T1
left outer join SHP_SPM_SC_Shipyard T2
    on T1.ShipyardCode = T2.ShipyardCode
left outer join SHP_SPM_SC_ShipSpecies T3
    on T1.ShipSpecies = T3.ShipSpecies
left outer join SHP_SPM_SC_Country T4
    on T1.ShipNationality = T4.CountryCode
left outer join SHP_SPM_SC_Customer T5
    on T1.CustomerCode = T5.CustomerCode
left outer join SHP_SPM_SC_Equipment T6
    on T1.F_ShipNo = T6.F_ShipNo
where
    T6.EquipmentID = #{equipmentid};
</select>

<select id="getShipInfoByFShipNo"  resultType="com.example.demo.model.ShipInfo">
select
    T1.F_ShipNo as fShipno
    ,T1.IMONo as imono
    ,T1.ShipNumber as shipNumber
    ,T1.ShipType as shipType
    ,case when (T1.ShipNationality is not null and T1.ShipNationality != '') 
               and (T4.CountryNameJP is not null and  T4.CountryNameJP != '' )
                   then concat(T1.ShipNationality ,'：', T4.CountryNameJP)
          else ''
    end  as shipnationality
    ,case when (T1.ShipSpecies is not null and T1.ShipSpecies != '') 
               and (T3.ShipSpeciesNameJP is not null and  T3.ShipSpeciesNameJP != '' )
                   then concat(T1.ShipSpecies ,'：', T3.ShipSpeciesNameJP) 
          else ''
    end  as shipspecies 
    ,T1.ShipNameJP as shipNameJP
    ,T1.Series as series
    ,T1.GrossTonnage as grossTonnage
    ,T1.ShipClass as shipClass
    ,case when (T1.ShipyardCode is not null and T1.ShipyardCode != '') 
               and (T2.ShipyardNameJP is not null and  T2.ShipyardNameJP != '' )
                   then concat(T1.ShipyardCode ,'：',T2.ShipyardNameJP) 
          else ''
    end  as shipyard
    ,T1.BuildDate as buildDate  
    ,case when (T1.CustomerCode is not null and T1.CustomerCode != '') 
               and (T5.CustomerNameJP is not null and  T5.CustomerNameJP != '' )
                   then concat(T1.CustomerCode ,'：',T5.CustomerNameJP)  
          else ''
    end  as customer
from SHP_SPM_SC_Ship T1
left outer join SHP_SPM_SC_Shipyard T2
    on T1.ShipyardCode = T2.ShipyardCode
left outer join SHP_SPM_SC_ShipSpecies T3
    on T1.ShipSpecies = T3.ShipSpecies
left outer join SHP_SPM_SC_Country T4
    on T1.ShipNationality = T4.CountryCode
left outer join SHP_SPM_SC_Customer T5
    on T1.CustomerCode = T5.CustomerCode
where T1.F_ShipNo = #{fshipno}
</select>

<select id="getEquipmentInfo"  resultType="com.example.demo.model.EquipmentInfo">
select
    case
        when T1.Status = '1' then '削除'
        else ''
    end                                                   as status
    ,T1.EquipmentID                                       as equipmentid             
    ,case when (T1.ModelCode is not null and T1.ModelCode != '') 
               and (T2.ModelNameJP is not null and  T2.ModelNameJP != '' )
                   then concat(T1.ModelCode ,'：',T2.ModelNameJP) 
          else ''
    end  as model
    ,T3.IdentificationNameJP                              as identificationcode
    ,T1.IdentificationName                                as identificationname
    ,T1.ShippingDate                                      as shippingdate
    ,T1.EquipmentDate_Fleet                               as equipmentdateFleet
    ,T1.EquipmentDate                                     as equipmentdate
    ,T1.EquipmentRemoveDate                               as equipmentremovedate
    ,T1.ShipRecycle                                       as shiprecycle
    ,T1.EquipmentStatusKbn                                as equipmentstatuskbn
    ,T1.SalesJurisdict                                    as salesjurisdict
    ,T1.Remarks                                           as remarks
    ,T1.WarrantyDate                                      as warrantydate
    ,T1.ShipyardWarrantyDate                              as shipyardwarrantydate
    ,T1.SMSKeyNo                                          as smskeyno
    ,T1.ProjectModelID                                    as projectmodelid
    ,T1.SAPOrderNo                                        as saporderno
    ,T1.SAPOrderLineNo                                    as saporderlineno
from
     SHP_SPM_SC_Equipment T1
left outer join SHP_SPM_SC_Model T2
    on T1.ModelCode = T2.ModelCode
left outer join SHP_SPM_SC_Identification T3
    on T1.IdentificationCode = T3.IdentificationCode
where
    T1.EquipmentID = #{equipmentid}
</select>

<select id="getItemInfoList" resultType="com.example.demo.model.ItemInfo">
select
    T2.RowNo                                             as iRowno
    ,T2.SortNo                                            as sortno
    ,T2.Status                                            as iStatus         
    ,case when (T3.ITEM_CODE is not null and T3.ITEM_CODE != '') 
               and (T3.TYPE_NM_J is not null and T3.TYPE_NM_J != '' )
                   then concat(T3.ITEM_CODE ,'：',T3.TYPE_NM_J)  
          else ''
    end as item
    ,substring(T3.ITEM_TXT_J,22,length(T3.ITEM_TXT_J))  as itemTxtJ
	,T2.MachineNum                                        as iMachinenum
	,T2.Quantity                                          as quantity
	,T2.SAPShippingNo                                     as sapshippingno
	,T2.SAPShippingLineNo                                 as sapshippinglineno
	,T1.SAPOrderNo                                        as iSaporderno
	,T1.SAPOrderLineNo                                    as iSaporderlineno
from SHP_SPM_SC_Equipment T1
left outer join SHP_SPM_SC_Item T2
    on  T1.EquipmentID = T2.EquipmentID
left outer join FRX_MMT_SC_Item T3
    on  T2.ItemCode = T3.ITEM_CODE
where
    T1.EquipmentID = #{equipmentid}
    and T3.COUNTRY_TYPE = 'JP'
</select>

<select id="getProgramInfoList" resultType="com.example.demo.model.ProgramInfo">
select
	T2.RowNo                                             as pRowno
    ,T2.IndividualSupport                                as individualsupport
    ,T2.Base                                             as base
    ,T2.ProgramNo                                        as programno
    ,T2.Remarks                                          as pRemarks
from SHP_SPM_SC_Equipment T1
left outer join SHP_SPM_SC_Program T2
    on  T1.EquipmentID = T2.EquipmentID
where
    T1.EquipmentID = #{equipmentid}
</select>

<select id="getConsumablePartsInfoList" resultType="com.example.demo.model.ConsumablePartsInfo">
select
    T2.RowNo                                             as cRowno
    ,T2.PartsNameJP                                      as partsnamejp
    ,T2.MandatoryParts                                   as mandatoryparts
    ,T2.ExchangeCycle                                    as exchangecycle
    ,T2.ExpectedDate                                     as expecteddate
from SHP_SPM_SC_Equipment T1
left outer join SHP_SPM_SC_ConsumableParts T2
    on T1.EquipmentID = T2.EquipmentID
where
    T1.EquipmentID = #{equipmentid}
</select>

<select id="getModelStrList" resultType="java.lang.String">
select
    case when (ModelCode is not null and ModelCode != '') 
               and (ModelNameJP is not null and ModelNameJP != '' )
                   then concat(ModelCode ,'：',ModelNameJP) 
          else ''
    end as modelStr
from 
    SHP_SPM_SC_Model
</select>

<select id="getItemStrList" resultType="java.lang.String">
select  
	case when (ITEM_CODE is not null and ITEM_CODE != '') 
               and (TYPE_NM_J is not null and TYPE_NM_J != '' )
                   then concat(ITEM_CODE,'：',TYPE_NM_J)
          else ''
    end as itemStr
from (
  select 
  	ITEM_CODE
	, TYPE_NM_J
	, ROW_NUMBER() OVER (PARTITION BY ITEM_CODE ORDER BY ITEM_CODE ASC)
  from 
  	FRX_MMT_SC_Item
  where
    COUNTRY_TYPE = 'JP'
)
where row_number = 1
</select>

<select id="getNewestEquipmentID" resultType="int">
select
   max(EquipmentID) as newestEqupipmentID    
from
   SHP_SPM_SC_Equipment
</select>

<select id="getNewestItemRowNo" resultType="int">
select
   max(RowNo) as newestEqupipmentID    
from
   SHP_SPM_SC_Item
</select>

<select id="getNewestProgramRowNo" resultType="int">
select
   max(RowNo) as newestRowNo    
from SHP_SPM_SC_Program
</select>

<select id="getNewestConsumablePartsRowNo" resultType="int">
select
   max(RowNo) as newestRowNo    
from SHP_SPM_SC_ConsumableParts
</select>

<update id="updateDeleteEquipmentInfo">
update 
    SHP_SPM_SC_Equipment 
set 
    Status = '1'
where 
    EquipmentID = #{equipmentid}
</update>

<update id="updateDeleteItemInfo">
update 
    SHP_SPM_SC_Item 
set 
    Status = '1'
where 
    EquipmentID = #{equipmentid}
</update>

<delete id="deleteProgramInfo">
delete from 
    SHP_SPM_SC_Program 
where 
    EquipmentID = #{equipmentid}
</delete>

<delete id="deleteConsumablePartsInfo">
delete from 
    SHP_SPM_SC_ConsumableParts 
where 
    EquipmentID = #{equipmentid}
</delete>



<insert id="insertEquipmentInfo" parameterType="com.example.demo.model.EquipmentInfo">
insert into SHP_SPM_SC_Equipment ( 
      EquipmentID,
      Status,
      F_ShipNo,
      ModelCode,
      IdentificationCode,
      IdentificationName,
      ShippingDate,
      EquipmentDate_Fleet,
      EquipmentDate,
      EquipmentRemoveDate,
      ShipRecycle,
      EquipmentStatusKbn,
      SalesJurisdict,
      Remarks,
      WarrantyDate,
      ShipyardWarrantyDate,
      SMSKeyNo,
      ProjectModelID,
      SAPOrderNo,
      SAPOrderLineNo
) values(
      #{equipmentid,jdbcType=INTEGER},
      #{status,jdbcType=VARCHAR},
      #{fshipno,jdbcType=VARCHAR},
      left(#{model},strpos(#{model},'：') -1),
      #{identificationcode,jdbcType=VARCHAR},
      #{identificationname,jdbcType=VARCHAR},
      #{shippingdate,jdbcType=DATE},
      #{equipmentdateFleet,jdbcType=DATE},
      #{equipmentdate,jdbcType=DATE},
      #{equipmentremovedate,jdbcType=DATE},
      #{shiprecycle,jdbcType=VARCHAR},
      #{equipmentstatuskbn,jdbcType=VARCHAR},
      #{salesjurisdict,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR},
      #{warrantydate,jdbcType=DATE},
      #{shipyardwarrantydate,jdbcType=DATE},
      #{smskeyno,jdbcType=VARCHAR},
      #{projectmodelid,jdbcType=VARCHAR},
      #{saporderno,jdbcType=VARCHAR},
      #{saporderlineno,jdbcType=VARCHAR}
)
</insert>
<insert id="insertBulkItemInfoList" parameterType="java.util.List">
insert into SHP_SPM_SC_Item (
    EquipmentID,
    RowNo,
    Status,
    SortNo,
    MachineNum,
    Quantity
) values
<foreach collection="itemInfoList" item="itemInfo" separator=","> 
(
    #{itemInfo.equipmentid,jdbcType=INTEGER},
    #{itemInfo.iRowno,jdbcType=INTEGER},
    #{itemInfo.iStatus,jdbcType=VARCHAR},
    #{itemInfo.sortno,jdbcType=INTEGER},
    #{itemInfo.iMachinenum,jdbcType=VARCHAR},
    #{itemInfo.quantity,jdbcType=INTEGER}
)
</foreach>
</insert>

<insert id="insertBulkProgramInfoList" parameterType="java.util.List">
insert into SHP_SPM_SC_Program (
    EquipmentID,
    RowNo,
    IndividualSupport,
    Base,
    ProgramNo,
    Remarks
) values
<foreach collection="programInfoList" item="programInfo" separator=","> 
(
    #{programInfo.equipmentid,jdbcType=INTEGER},
    #{programInfo.pRowno,jdbcType=INTEGER},
    #{programInfo.individualsupport,jdbcType=VARCHAR},
    #{programInfo.base,jdbcType=VARCHAR},
    #{programInfo.programno,jdbcType=VARCHAR},
    #{programInfo.pRemarks,jdbcType=VARCHAR}
)
</foreach>
</insert>

<insert id="insertBulkConsumablePartsInfoList" parameterType="java.util.List">
insert into SHP_SPM_SC_ConsumableParts (
    EquipmentID,
    RowNo,
    PartsNameJP,
    MandatoryParts,
    ExchangeCycle,
    ExpectedDate
)values
<foreach collection="consumablePartsInfoList" item="consumablePartsInfo" separator=","> 
(
    #{consumablePartsInfo.equipmentid,jdbcType=INTEGER},
    #{consumablePartsInfo.cRowno,jdbcType=INTEGER},
    #{consumablePartsInfo.partsnamejp,jdbcType=VARCHAR},
    #{consumablePartsInfo.mandatoryparts,jdbcType=INTEGER},
    #{consumablePartsInfo.exchangecycle,jdbcType=INTEGER},
    #{consumablePartsInfo.expecteddate,jdbcType=DATE}
)
</foreach>
</insert>

<update id="updateEquipmentInfo" >
 UPDATE 
     SHP_SPM_SC_Equipment
 SET 
     ModelCode = left(#{model},strpos(#{model},'：') -1)
     ,IdentificationCode = #{identificationcode}
     ,IdentificationName = #{identificationname}
     ,ShippingDate = #{shippingdate}
     ,EquipmentDate_Fleet = #{equipmentdateFleet}
     ,EquipmentDate = #{equipmentdate}
     ,EquipmentRemoveDate = #{equipmentremovedate}
     ,ShipRecycle = #{shiprecycle}
     ,Status = #{equipmentstatuskbn}
     ,SalesJurisdict = #{salesjurisdict}
     ,Remarks = #{remarks}
     ,WarrantyDate = #{warrantydate}
     ,ShipyardWarrantyDate = #{shipyardwarrantydate}
 WHERE 
     EquipmentID = #{equipmentid}
</update>

<update id="updateBulkItemInfoList">
<foreach collection="itemInfoList" item="itemInfo" separator=";">
UPDATE 
    SHP_SPM_SC_Item
SET
    Status = #{itemInfo.iStatus}
    ,SortNo = #{itemInfo.sortno}
    ,MachineNum = #{itemInfo.iMachinenum}
    ,Quantity = #{itemInfo.quantity}
WHERE 
    EquipmentID = #{itemInfo.equipmentid}
    AND RowNo = #{itemInfo.iRowno}
</foreach>
</update>

<update id="updateBulkProgramInfoList">
<foreach collection="programInfoList" item="programInfo" separator=";">
UPDATE 
    SHP_SPM_SC_Program
SET 
    IndividualSupport = #{programInfo.individualsupport}
    ,Base = #{programInfo.base}
    ,ProgramNo = #{programInfo.programno}
    ,Remarks = #{programInfo.pRemarks}
WHERE
    EquipmentID = #{programInfo.equipmentid}
    AND RowNo = #{programInfo.pRowno}
</foreach>
</update>

<update id="updateBulkConsumablePartsInfoList">
<foreach collection="consumablePartsInfoList" item="consumablePartsInfo" separator=";">
UPDATE 
    SHP_SPM_SC_ConsumableParts
SET 
    PartsNameJP = #{consumablePartsInfo.partsnamejp}
    ,MandatoryParts = #{consumablePartsInfo.mandatoryparts}
    ,ExchangeCycle = #{consumablePartsInfo.exchangecycle}
    ,ExpectedDate = #{consumablePartsInfo.expecteddate}
WHERE
     EquipmentID = #{consumablePartsInfo.equipmentid}
     AND RowNo = #{consumablePartsInfo.cRowno}
</foreach>
</update>

</mapper>

