<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Equipment.EquipmentList.mapper.EquipmentListMapper">
<select id="getShipInfo" resultType="com.example.demo.model.ShipInfo">
select
    T1.F_ShipNo                                   as fShipno
    ,T1.IMONo                                     as imono
    ,T1.ShipNumber                                as shipnumber
    ,T1.ShipType                                  as shiptype
    ,concat(T1.ShipNationality, T3.CountryNameJP) as shipnationality
    ,concat(T1.ShipSpecies, T2.ShipSpeciesNameJP) as shipspecies
    ,T1.ShipNameJP                                as shipnamejp
    ,T1.Series                                    as series
    ,T1.GrossTonnage                              as grosstonnage
    ,T1.ShipClass                                 as shipclass
    ,concat(T1.ShipyardCode,T5.ShipyardNameJP)    as shipyard
    ,T1.BuildDate                                 as builddate
    ,concat(T1.CustomerCode,T4.CustomerNameJP)    as customer
from  SHP_SPM_SC_Ship T1
left outer join SHP_SPM_SC_ShipSpecies T2 
    on T1.ShipSpecies = T2.ShipSpecies
left outer join SHP_SPM_SC_Country T3 
    on T1.ShipNationality = T3.CountryCode
left outer join SHP_SPM_SC_Customer T4 
    on T1.ShipyardCode = T4.CustomerCode
left outer join SHP_SPM_SC_Shipyard T5
    on T1.ShipyardCode = T5.ShipyardCode
where
    T1.F_ShipNo = #{fshipno}
</select>

<select id="getEquipmentList" resultType="com.example.demo.model.EquipmentInfo">
select
    T1.EquipmentID                                                as equipmentid 
    ,T1.Status                                                    as status
    ,concat(T1.ModelCode, T4.ModelNameJP)                         as model
    ,concat(T2.IdentificationNameJP, ' ', T1.IdentificationName)  as identification
    ,T3.MachineNum                                                as machinenum
    ,T1.ShippingDate                                              as shippingdate
    ,T1.EquipmentDate                                             as equipmentdate
    ,T1.SalesJurisdict                                            as salesjurisdict
    ,T1.ShipyardWarrantyDate                                      as shipyardwarrantydate
    ,T1.WarrantyDate                                              as warrantydate
    ,T1.Remarks                                                   as remarks
from  SHP_SPM_SC_Equipment T1 
left outer join SHP_SPM_SC_Identification T2 
    on T1.IdentificationCode = T2.IdentificationCode
left outer join SHP_SPM_SC_Item T3 
    on T1.EquipmentID = T3.EquipmentID
left outer join SHP_SPM_SC_Model T4 
    on T1.ModelCode = T4.ModelCode
where
    T1.F_ShipNo = #{fshipno}
</select>
</mapper>

