<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.Ship.ShipSearch.mapper.ShipSearchMapper">
<select id="getShipSearch" resultType="com.example.demo.model.ShipSearchModel">
select
    case when T1.Status = '1' then '削除'
         when T1.Status = '9' then '注意'
         else ''
    end as status
    ,T1.F_ShipNo           as fShipno
    ,T2.ShipyardNameJP     as shipyardnamejp
    ,T1.ShipNumber         as shipnumber
    ,T1.Series             as series
    ,T3.CustomerNameJP     as customernamejp
    ,T1.ShipNameJP         as shipnamejp
    ,T1.ShipNameEN         as shipnameen
    ,T1.FurunoResCompany   as furunorescompany
    ,T1.ShipSpecies_SeaWeb as shipspeciesnamejpSeaweb
    ,T4.ShipSpeciesNameJP  as shipspeciesnamejp
    ,T1.ShipClass          as shipclass
    ,T1.IMONo              as imono
    ,T1.upd_user           as updUser
    ,T1.upd_date           as updDate
from SHP_SPM_SC_Ship T1
left outer join SHP_SPM_SC_Shipyard T2
    on T1.ShipyardCode = T2.ShipyardCode
left outer join SHP_SPM_SC_Customer T3
    on T1.ShipyardCode = T3.CustomerCode
left outer join SHP_SPM_SC_ShipSpecies T4
    on T1.ShipSpecies = T4.ShipSpecies
where
    1 = 1
<if test = "shipyardcode != ''">
	and (T2.ShipyardCode = #{shipyardcode} 
	    or T2.ShipyardNameJP = #{shipyardcode})
</if>
<if test = "shipnumber != ''">
	and T1.F_ShipNo = #{shipnumber}
</if>
<if test = "customercode != ''">
	and T1.CustomerCode = #{customercode}
</if>
<if test = "series != ''">
	and T1.Series = #{series}
</if>
<if test = "shipnamejp != '' and shipnamejp != null">
	and T2.ShipyardNameJP LIKE concat('%' , #{shipnamejp} , '%')
</if>
<if test = "managementofficecode != ''">
	and T1.ManagementOfficeCode = #{managementofficecode}
</if>
<if test = "shipspecies != ''">
	and T1.ShipSpecies = #{shipspecies}
</if>
<if test = "shipnationality != ''">
	and T1.ShipNationality = #{shipnationality}
</if>
<if test = "shipclass != ''">
	and T1.ShipClass = #{shipclass}
</if>
<if test = "shiptype != ''">
	and T1.ShipType = #{shiptype}
</if>
<if test = "grosstonnageFrom != ''">
    and #{grossTonnageFromByInt} <![CDATA[ <= ]]> T1.GrossTonnage
</if>
<if test = "grosstonnageTo != ''">
    and T1.GrossTonnage <![CDATA[ <= ]]> #{grossTonnageToByInt}
</if>
<if test = "imono != ''">
    and T1.IMONo = #{imono}
</if>
<if test = "builddateFrom != ''">
    and #{buildDateFromByDate} <![CDATA[ <= ]]> T1.BuildDate
</if>
<if test = "builddateTo != ''">
    and T1.BuildDate <![CDATA[ <= ]]> #{buildDateToByDate}
</if>
<if test = "fShipno != ''">
	and T1.F_ShipNo = #{fShipno}
</if>
<if test = "logicalDelete == 0">
	and T1.Status != '1'
</if>
<if test = "ownerchangekbn == 1">
	and T1.OwnerChangeKbn = '1'
</if>

</select>

<update id="deleteShipMaintenance">
update 
    SHP_SPM_SC_Ship
set
    Status = '1'
where
    F_ShipNo = #{fshipno}
</update>
</mapper>

